.content {
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.topbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media (max-width: 800px) {
    .topbar {
        flex-wrap: wrap-reverse;
    }
    
    app-offers {
        padding-top: 3%;
    }
}

app-offers {
    min-width: 60%;
}

app-searchbox {
    min-width: 40%;
}

app-searchresults {
    min-width: 60%;
}