<div class="loginbox">
    <div class="spinner" *ngIf="isWaitingForResult">
        <mat-spinner></mat-spinner>
    </div>
    <div class="loginHeader">
        <h1>Sign in</h1>
        <p (click)="openRegisterWindow()">No account yet? Click here to sign up!</p>
    </div>
    <form (ngSubmit)="submitForm()" [formGroup]="loginForm">
        <mat-form-field appearance="outline">
            <mat-label>E-mail address</mat-label>
            <input matInput placeholder="Enter email" formControlName="email">
            <mat-error *ngIf="loginForm.get('email').hasError('required')">Please enter the email</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type='password' matInput placeholder="Enter password" formControlName="password">
            <mat-error *ngIf="loginForm.get('password').hasError('required')">Please enter the password</mat-error>
        </mat-form-field>
        <mat-error *ngIf="!areCredentialsValid">The details are incorrect.</mat-error>
        <mat-error *ngIf="hasErrorOccurred">An error has occurred.</mat-error>
        <br>
        <button mat-raised-button type="submit" [disabled]="isWaitingForResult">Login</button>
    </form>
</div>

