.outerTilesContainer {
    position: relative;
}

.spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: .5;
}

.tilescontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tile {
    width: 32%;
    height: 150px;
    margin: 0.5%;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
}

.tileOverlay {
    background-color: #BB7E5D;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.tile:hover .tileOverlay {
    bottom: 0;
    height: 100%;
}

.overlayText {
    color: white;
    position: absolute;
    padding-left: 2.5%;
    padding-top: 2.5%;
}

.overlayText button {
    margin-top: 10%;
}