.container {
    max-width: 98%;
    padding: 1%;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.personCard {
    padding-right: 1%;
}

mat-card {
    max-width: 500px;
    margin: 1% 0 1% 0;
}

form {
    display: flex;
    flex-direction: column;
}