/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #98C1D9;
}

#container {
    background-color: #E0FBFC;
    width: 80vw;
    height: 100%;
    margin: auto;
}

#container h1 {
    padding: 1%;
}

